<!DOCTYPE html>
<html>
  <head>
    {% include 'bootstrap.html' %}
    <title>Feedback Submitted - Poem's World</title>
    </head>
    <body> 
      <div class="container">
      {% include 'nav.html' %}
      {% include 'feedbackimage.html' %}
      
      <h4 class='text-center'>Full Name</h4>
      <div class='text-center'>{{feedback['full_name']}}</div>

      <h4 class='text-center'>Email ID</h4>
      <div class='text-center'>{{feedback['email']}}</div>
      
      <h4 class='text-center'>Comments</h4>
      <div class='text-center'>{{feedback['comments']}}</div>
      
    <p class='text-center'>  <a href='/' class="text-center btn btn-outline-secondary" type='button'>Go to Home</a></p>
       {% include 'footer.html' %}       
      </div>  
    </body>  
  </html>