<!DOCTYPE html>
<html>
  <head>
    {% include 'bootstrap.html' %}
    <title>Feedback Submitted - Poem's World</title>
    </head>
    <body> 
      <div class="container">
      {% include 'nav.html' %}
      {% include 'feedbackimage.html' %}
      <h4>Full Name</h4>
      <div>{{feedback['full_name']}}</div>

      <h4>Email ID</h4>
      <div>{{feedback['email']}}</div>
      
      
      <h4>Comments</h4>
      <div>{{feedback['comments']}}</div>
      <div class='col-6'>
          <a href='/' class="btn btn-outline-secondary" type='button'>Go to Home</a>
        </div>
      </div>  
    </body>  
    {% include 'footer.html' %} 
  
</html>