<!DOCTYPE html>
<html>
  <head>
  {% include 'bootstrap.html' %}
    <title>Poems Website</title>
  </head>
 <body>
   {%include 'nav.html'%}
   <div class="container">
     <h1 class='text-center mt-4 mb-4'>Poem's World</h1>
{% include 'picture.html' %}
<h2 class='text-center mt-5 mb-4'>List of Poems</h2>
   <div>
    {% for poem in poems %}
      {%include 'poemslist.html' %}
    {% endfor %} 
</div> 
     <div class='text-center'>
        {% include 'connectwithus.html'%}
       </div>
     {% include 'footer.html' %}
   </div>
 </body>   
</html>