<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Poems Website</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <style>
      h1{
        color: rgb(100, 100, 100)
      }
      </style>
  </head>
 <body>
   {%include 'nav.html'%}
   <div class="container">
     <h1 class='text-center mt-4 mb-4'>Poem's World</h1>
   <img src='https://poetry-website.ignoramussapien.repl.co/static/image_hp.jpg' class="rounded mx-auto d-block" height=500>
<h2 class='text-center mt-5 mb-4'>List of Poems</h2>
   <div>
    {% for poem in poems %}
      {%include 'poemslist.html' %}
    {% endfor %} 
</div> 
     <div class='text-center'>
        {% include 'connectwithus.html'%}
       </div>
     {% include 'footer.html' %}
   </div>
 </body>   
</html>