<!DOCTYPE html>
<html>
  <head>
    {% include 'bootstrap.html' %}
    <title>{{poem.title}}-Poem's World</title>
  </head>
  <body>
     <div class="container">
     <h2 class='text-center mt-4 mb-4'>Poem's World</h2>
      {% include 'nav.html' %}
      {% include 'picture.html' %}
      <h2 class='text-center mt-5'>Poem: {{poem.title}}</h3>
      <h4 class='text-center mt-1'>Publish Date: {{poem.publish_date}}</h4>
      <p class='text-center mt-2'><b>Genre: </b>{{poem.genre}}</p>
      <p>{{poem.content}}</p>
     {% include 'feedbackform.html' %}
     </div>
  {% include 'footer.html' %}  
  </body>
</html>